<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %M:%L - %msg%n"/>
        </Console>
        <File name="File" fileName="logs/altoEditor.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
<!--                <Pattern>%m%n</Pattern>-->
            </PatternLayout>
        </File>
        <File name="Errors" fileName="logs/altoEditor.err">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="Errors" level="error"/>
        </Root>
        <Logger name="org.apache.pdfbox" level="off"/>
    </Loggers>
</Configuration>
